@page
@model Lab3_AspNet_EF.Pages.Index

@{
    Layout = null;
}

<h2>Home Page</h2>

<a asp-page="/Calls/Index">Calls</a> <br/>
<a asp-page="/Index">Other</a> <br/>
<a asp-page="/Index">Other</a> <br/>
<a asp-page="/Index">Other</a> 

